/* STYLE INFORMAÇÕES DE CONTATO*/
ul.contato {
    list-style: none;
    padding: 0;
}

.page-footer{
    background-color: #313131;
}

.contato{
    margin: 20px;
}
.contato li
{
    font-size: 20px;
    margin: 17px;
}
.contato li a
{
    color:white;
}
.contato li a:hover
{
    color:rgb(78, 212, 16);
}
/* /STYLE INFORMAÇÕES DE CONTATO*/

/*STYLE LOGO E-RURAL*/
.logo{
    margin: 20px;
    padding: 0;
}
.logo .logoErural
{
    max-width: 100%;
    max-height: 100%;
}

/* /STYLE LOGO E-RURAL */

/*STYLE GERES SOCIAIS*/

.social-network
{
    justify-content: center;
    align-items: center;
}

.social-network  .fa-github:hover
{
    opacity: 1;
    color: rgb(78, 212, 16);
}

.social-network  .fa-instagram:hover
{
    opacity: 1;
    color: rgb(78, 212, 16);
}

ul.social-network{
  list-style:none;
  padding: 0;
}

.social-network ul
{
    width: 50px;
    height: 50px;
}

ul.sci
{
margin: 0;
padding: 0;
}

.sci li 
{
    margin-right:10px;
    list-style: none;
}

.sci li img
{
    transform: scale(0.5);
    opacity: 0.7;

}

.social-network  .fa-github:hover
{
    opacity: 1;
    color: rgb(78, 212, 16);
}

.social-network  .fa-instagram:hover
{
    opacity: 1;
    color: rgb(78, 212, 16);
}


.fa{        
    font-size: 35pt;
    color: white;
    padding: 10px;
}


.wh-img-50 {  
  width: 50px;
  height: 50px;
}

.wh-img-60 { 
  width: 60px;
  height: 60px;
}

.copyrigth p{
  text-align: center;
  color: #fff;
}

