<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-6 mt-5">
            <h1>Como funciona a e-Rural?</h1>
            <h3>Cadastro</h3>
            <p>
                Tanto o consumidor quando o vendedor realizam o cadastro em nossa plataforma, para assim terem acesso a
                toda usabilidade que oferecemos. Suas informações estão seguras conosco!
            </p>
            <h3>Compra ou venda?</h3>
            <p>
                Ao criar seu cadastro, você irá escolher seu perfil, ou seja, escolha entre consumidor e produtor
                O perfil de consumidor pode realizar compras e o perfil de Produtor pode realizar vendas. Lembre-se de verificar as diretrizes de nossa comunicadade.
            </p>
            <h3>Venda</h3>
            <p>
                Vendeu um produto? Excelente!
                Combine com o comprador a entrega!
                Siga os padrões de higiêne na entrega.
            </p>
            <h3>Compra</h3>
            <p>
                Comprou algum produto? Excelente! Você acaba de dar um passo a mais para a boa saúde e alimentação!
                Combine com o vendedor a entrega!
                Lembre-se de seguir os padrões de higiêne.
            </p>
            <h3>Feedback</h3>
            <p>
                Já realizou a compra ou venda? Dê um feedback tanto do comprador quanto do vendedor é fundamental para
                melhorarmos cada vez mais!.
            </p>

        </div>

        <div class="col-md-6 mt-5">
            <h1>Principais dúvidas sobre Pagamento:</h1>

            <h3>Quais são as formas de pagamento?</h3>
            <p>
                Aceitamos como forma de pagamento: Cartão de crédito em até 12X sem juros, boleto e até mesmo débito em
                conta.
            </p>
            <h3>Quero realizar o cancelamento mas já efetuei o pagamento e agora?</h3>
            <p>Você consumidor, efetuou o pagamento mas não quer mais receber o produto?
                Sem problemas, basta ir em "minhas compras" e efetuar o cancelamento da mesma!
                Você receberá seu estorno diretamente em seu cartão. Caso a compra tenha sido realizada via boleto
                , iremos enviar um formulário para que informe uma conta para ser feito o estorno.
            </p>

        </div>

    </div>
</div>