<section>
    <div class="container">
        <div class="contactinfo">
            <div>
                <h2>Informações para contato</h2>
                <ul class="info">
                    <li>
                        <span><img src="https://i.imgur.com/bdEfTUl.png"></span>
                        <span></span>
                    </li>
                </ul>
                <ul class="sci">
                    <li>
                        <a href=""><img src="instagram"></a>
                        <a href=""><img src="github"></a>
                    </li>
                </ul>
            </div>
            <div class="contactForm">
                <h2>Nos envie uma menssagem</h2>
                <div class="formBox w50">
                    <input type="text" name="" required>
                    <span>Primeiro Nome</span>
                </div>
                <div class="formBox w50">
                    <input type="text" name="" required>
                    <span>Email</span>
                </div>
                <div class="formBox w100">
                    <input type="text" name="" required>
                    <span>Numero para contato</span>
                </div>
                <div class="formBox w100">
                    <textarea type="text" name="" required></textarea>
                    <span>Escreva sua menssagem aqui</span>
                </div>
                <div class="formBox w50">
                    <input type="text" name="" required>
                    <span>Email</span>
                </div>
            </div>
        </div>
    </div>
</section>