<div class="row mt-5 mb-5">
  <div class="container mt-5">

    <h1 class="text-center justify-content-center">Gerencie seu perfil e verifique as informações das suas vendas aqui!
    </h1>
    <hr class="text-center">
    <div class="row">
      <div class="col-md-6 mt-5">
        <!--TABELA FAKE DE VENDA-->
        <h4 class="text-center justify-content-center mt-3 mb-2">Histórico de vendas</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Pedido</th>
              <th scope="col">Comprador</th>
              <th scope="col">Cód Produto</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor a receber</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Juliana Arandes Neves</td>
              <td>1</td>
              <td>2</td>
              <td>R$ 15,25</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>José Bonifácio</td>
              <td>3</td>
              <td>1</td>
              <td>R$ 9,90</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Marcos Antonio</td>
              <td>3</td>
              <td>4</td>
              <td>R$ 8,85</td>
            </tr>
          </tbody>
        </table>
        <!--/TABELA FAKE DE VENDA-->
      </div>
      <div class="col-md-6 ">
        <img class='img-fluid' src="https://i.imgur.com/SFhZ0wU.png" alt="">
      </div>
    </div>
  </div>
</div>
