
.btn-outline-success{
    background-color: none;
    border-color: white;
    color: white;
}
.btn-outline-success:hover{
    background-color: white;
    border-color: #397900;
    color: #397900;
}

.fontMenu{
    color: black;
    font-size: 18px;
}
.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.06s;
    
}
.headerLogo{
    position: relative;
    font-weight: 700;
    color: #fff
}

.header1{
    
        background-color: #397900;
        transition: 0.06s;
        z-index: 1
    
}
.stick{
    scroll-behavior: smooth;
    transition: 0.06s;
    opacity: .7;
    z-index: 1
}